
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 158, 158);
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    margin-top: 1.4em;
}

.wrapper{
    width: 100%;
    padding: 10px;
}

.container{
    max-width: 500px;
    height: auto;
    margin: 0px auto;
    background: rgb(245, 245, 245);
    padding: 20px 40px 30px;
    margin-top: 20px;
}

.title{
    color: black;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.input-form{
    margin-bottom: 20px;
}

.input-form .label{
    display: block;
    font-size: 1em;
    color: black;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.input-form .items{
    margin-bottom: 20px;
}

.section-1 .items .noTarjeta,
.section-2 .items .input,
.section-3 .items .input{
    background: transparent;
    border: 2px solid #BDBDBD;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: black;
    border-radius: 3px;
    
}

.section-1 .items .noTarjeta:focus,
.section-2 .items .input:focus,
.section-3 .items .input:focus{
    background: transparent;
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #212121;
    border-radius: 3px;
    
}

.input-form .section-3{
    display: flex;
    justify-content: space-between;
}

.input-form .section-3 .items{
    width: 48%;
}

.btn{
	background: #8a8a8a;
	color: #fff;
	font-size: 1.25em;	
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
}

.btn:hover{
    background-color:rgb(255, 158, 158);
    color: black;
}

.cvc{
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease;
}

.cvc .tooltip{
  color: #d4d4d4;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align:center;
  cursor: pointer;
}

.cvc .cvc-img{
  position: absolute;
  top: -300%;
  right: 0;
  background: #5f6c7d;
  padding: 12px;
  border-radius: 5px;
  display: none;
}

.cvc .cvc-img img{
  width: 100px;
  height: auto;
  display: block;
}

.cvc:hover .cvc-img{
  display: block;
}

@media screen and (max-width: 460px){
  .input-form .section-3{
    flex-direction: column;
  }
  .input-form .section-3 .items{
     width: 100%;
  }
  .input-form .items{
    margin-bottom: 10px;
  }

  .input-form{
    margin-bottom: 15px;
  }
  .title{
    font-size: 1.5em;
    margin-bottom: 15px;
  }
}

.direccion {
  padding: 10px;
  font-size: 1em;
  color: #212121;
  bottom: 10%;
  margin-bottom: 20px;
  cursor: unset;
}