* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}

/* Barra de navegacion */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    line-height: 1rem;
}

.nav__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav__logo {
    font-size: 2rem;
    color: black;
    text-align: center;

}

.nav__list {
    display: flex;
    align-items: center;
}

/* TARJETA */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 400px;
    max-width: 540px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  .container:hover {
    background-color: #e3e3e3;
    color: black;
  }

  .container {
      text-align: center;
      font-size: 1.4em;
  }
  
  .price {
    color: #2ecc71;
    font-size: 22px;
  }
  




