
/* ========= Reset ========= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  background-color: #ffffff;
}

h2,
h3,
h4 {
  font-weight: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

/* Navigation */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  line-height: 1rem;
  background-color: #a0a3ad;
}

.hamburger {
  display: none;
}

.nav__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__logo {
  font-size: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.nav__list {
  display: flex;
  align-items: center;
}

.aeProveedores{
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: white;
  background-color: #777777;
  justify-content: space-between;
  position: fixed;
  visibility: visible;
}

.aeProveedores:focus {
  outline: none;
}

.aeProveedores:hover {
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: black;
  background-color: #e7e7e7;
  margin-right: 1.3rem;
}



  .vProveedores {
    display: inline-block;
    font-size: 2rem;
    padding: 1.3rem 1.5rem;
    color: white;
    background-color: #777777;
    visibility: visible;
  }
  
  .vProveedores:focus {
    outline: none;
  }
  
  .vProveedores:hover {
    display: inline-block;
    font-size: 2rem;
    padding: 1.3rem 1.5rem;
    color: black;
    background-color: #e7e7e7;
  }

.nav__right {
  float: right;
}


