
/* ========= Reset ========= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  background-color: #ffffff;
}

h2,
h3,
h4 {
  font-weight: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

/* Navigation */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  line-height: 1rem;
  background-color: #a0a3ad;
}

.hamburger {
  display: none;
}

.nav__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__logo {
  font-size: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.nav__list {
  display: flex;
  align-items: center;
}

.agregarLibro{
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: white;
  background-color: #777777;
  justify-content: space-between;
  position: fixed;
  visibility: visible;
}

.agregarLibro:focus {
  outline: none;
}

.agregarLibro:hover {
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: black;
  background-color: #e7e7e7;
}

.proveedores{
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: white;
  background-color: #777777;
  visibility: visible;
  align-items: flex-end;
}

.proveedores:focus {
  outline: none;
}

.proveedores:hover {
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: black;
  background-color: #e7e7e7;
}

.signup{
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: white;
  background-color: #777777;
  visibility: visible;
}

.signup:focus {
  outline: none;
}

.signup:hover {
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: black;
  background-color: #e7e7e7;
}

.login{
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: white;
  background-color: #777777;
  visibility: visible;
}

.login:focus {
  outline: none;
}

.login:hover {
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: black;
  background-color: #e7e7e7;
}

.logout{
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: white;
  background-color: #777777;
  visibility: visible;
}

.logout:focus {
  outline: none;
}

.logout:hover {
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: black;
  background-color: #e7e7e7;
}



.proceed__ToCheck {
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: white;
  background-color: #777777;
  visibility: visible;
}

.proceed__ToCheck:focus {
  outline: none;
}

.proceed__ToCheck:hover {
  display: inline-block;
  font-size: 2rem;
  padding: 1.3rem 1.5rem;
  color: black;
  background-color: #e7e7e7;
}

.nav__right {
  float: right;
}

.cart__icon {
  position: relative;
  cursor: pointer;
}

.cart__icon h2 {
  font-weight: 700;
  color: #f0f0f0;
}

.cart__icon span {
  position: absolute;
  top: -1rem;
  right: -2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  color: black;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
}

/* Products Center */

.rating span svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: goldenrod;
}

.products {
  padding: 15rem 0;
}

.product__center {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .4);
}

.product__footer {
  padding: 1rem;
  width: 100%;
}

.product__footer h1 {
  font-size: 2rem;
}

.rating {
  margin: 1rem 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  border: 1px solid black;
  padding: 1rem 1.8rem;
  color: #6e6e66;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background-color: whitesmoke;
}

.btn:hover {
  background-color: rgba(245,255,232,0);
  color: black;
  border: 1px solid rgb(201, 201, 201);
}

.price {
  font-weight: 700;
  font-size: 1.8rem;
}

/* Cart */
.cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2;
}

.cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 2rem;
  z-index: 3;
  overflow-y: scroll;
  background-color:white;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.cart.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.cart__overlay.show {
  visibility: visible;
}

.close__cart {
  cursor: pointer;
}

.close__cart svg {
  fill: black;
  transition: all 300ms ease-in-out;
}

.close__cart:hover svg {
  fill: goldenrod;
}

.cart svg {
  width: 1.8rem;
  height: 1.8rem;
}

.cart h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cart__item svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: black;
}

.cart__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 70%;
  margin: 2rem auto;
}

.cart__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__item div span {
  cursor: pointer;
}

.cart__item img {
  width: 9.5rem;
  height: 9.5rem;
}

.cart__item h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.cart__item .price {
  color: black;
  font-weight: 700;
}

.cart__item p {
  font-weight: 700;
}

.cart__item .remove__item {
  cursor: pointer;
}

.cart__item .remove__item svg {
  fill: red;
}

@media only screen and (max-width: 1350px) {
  .cart__item {
    width: 100%;
  }
}

@media only screen and (max-width: 996px) {
  .cart__item {
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  }

  .cart__item h3 {
    font-size: 1.7rem;
  }

  .cart__item .remove__item svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .cart__item img {
    width: 7.5rem;
    height: 7.5rem;
  }
}

.cart__footer {
  text-align: center;
  margin-bottom: 3rem;
}

.cart__footer h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.cart__footer .btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  background-color: #a0a3ad;
  border: none;
  margin-top: 2rem;
}

.cart__footer .btn:focus {
  outline: none;
}

@media only screen and (max-width: 567px) {
  .cart {
    width: 100%;
    height: 100%;
    border-radius: 0rem;
  }

  .cart__item h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.6rem;
  }
}

/* RECOMMENDED BOOKS */

.recommended__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2;
}

.recommended__cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 2rem;
  z-index: 3;
  overflow-y: scroll;
  background-color:white;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.recommended__cart.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.recommended__overlay.show {
  visibility: visible;
}

.close__recommended {
  cursor: pointer;
}

.close__recommended svg {
  fill: black;
  transition: all 300ms ease-in-out;
}

.close__recommended:hover svg {
  fill: goldenrod;
}

.recommended__cart svg {
  width: 1.8rem;
  height: 1.8rem;
}

.recommended__cart h1 {
  text-align: center;
  margin-bottom: 2rem;
}


.recommended__item svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: black;
}

.recommended__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 70%;
  margin: 2rem auto;
}

.recommended__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommended__item div span {
  cursor: pointer;
}

.recommended__item img {
  width: 9.5rem;
  height: 9.5rem;
}

.recommended__item h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.recommended__item .price {
  color: black;
  font-weight: 700;
}

.recommended__item p {
  font-weight: 700;
}

.recommended__item .remove__recommended {
  cursor: pointer;
}

.recommended__item .remove__recommended svg {
  fill: red;
}

@media only screen and (max-width: 1350px) {
  .recommended__item {
    width: 100%;
  }
}

@media only screen and (max-width: 996px) {
  .recommended__item {
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  }

  .recommended__item h3 {
    font-size: 1.7rem;
  }

  .recommended__item .remove__recommended svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .recommended__item img {
    width: 7.5rem;
    height: 7.5rem;
  }
}

.recommended__icon {
  position: relative;
  cursor: pointer;
}

.recommended__icon h4 {
  font-weight: 700;
  color: #f0f0f0;
}

.recommended__icon span {
  position: absolute;
  top: -1rem;
  right: -2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e3e3e;
  color: black;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
}

.recommended__footer {
  text-align: center;
  margin-bottom: 3rem;
}

.recommended__footer h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media only screen and (max-width: 567px) {
  .recommended__cart {
    width: 100%;
    height: 100%;
    border-radius: 0rem;
  }

  .recommended__item h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

.recommended__logo {
  text-align: left;
  margin-right: 1.4em;
}